{{!-- 前端的部分真的很缺乏，對齊之類的方法還必須用&emsp;這種方法，
      不知道助教是否知道什麼網路上能夠練習前端的教材能夠讓我進修？ --}}
<div class="card flex-row flex-wrap">
  <div class="card-header border-0">
    <img class="card-img-left" src="{{profile.image}}" alt="Card image cap" width="286px" height="286px">
  </div>
  <div class="card-block px-2">
    </br>
    </br>
    <h4 class="card-text">&emsp;&emsp;{{profile.name}}</h4>
    <p class="card-text">&emsp;&emsp;{{profile.email}}</p>
    <ul style="list-style-type: none; padding:0px">
      <li>{{commentCount}} 則撰寫評論</li>
      <li>{{favoritedCount}} 家收藏餐廳</li>
      <li>{{followerCount}} 位粉絲</li>
      <li>{{followingCount}} 位追蹤對象</li>
    </ul>
    {{#if canEdit}}
      <a href="/users/{{profile.id}}/edit" class="btn btn-primary">Edit</a>
    {{else}}
      {{#if isFollowed}}
      <form action="/following/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
        <input type="text" name="followerId" class="d-none" value="{{user.id}}">
        <input type="text" name="followingId" class="d-none" value="{{profile.id}}">
        <button type="submit" class="btn btn-danger">取消追蹤</button></form>
      {{else}}
      <form action="/following/{{profile.id}}" method="POST" style="display: contents;">
        <input type="text" name="followerId" class="d-none" value="{{user.id}}">
        <input type="text" name="followingId" class="d-none" value="{{profile.id}}">
        <button type="submit" class="btn btn-primary">追蹤</button></form>
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-12">
    <div class="card w-100 mt-3">
      <div class="card-header">
        已撰寫 {{commentCount}} 則評論，評論過 {{restaurantCount}} 間餐廳
      </div>
      <div class="list-group">
        {{#each profile.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}" class="list-group-item list-group-item-action">
          <div class="media">
            <img src="{{this.Restaurant.image}}" class="align-self-start mr-3" alt="..." width="100em" height="100em">
            <div class="media-body">
                <p>{{this.text}}</p>
                <small>{{this.Restaurant.name}} 餐廳 －{{moment this.createdAt}}</small>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="card w-100 mt-3">
      <div class="card-header">
        {{favoritedCount}} 家收藏餐廳
      </div>
      <div class="card-body">
        {{#each profile.FavoritedRestaurants}}
        <a href="/restaurants/{{this.id}}" class="d-inline-block m-1">
          <div
            style="background-image: url({{this.image}});border-radius: 50%; background-repeat: no-repeat;background-position: center;background-size: cover; width:3em; height:3em"
            data-toggle="tooltip" data-placement="right" title="{{this.name}}">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    <div class="card w-100 mt-3">
      <div class="card-header">
        {{followerCount}} 位粉絲
      </div>
      <div class="card-body">
        {{#each profile.Followers}}
        <a href="/users/{{this.id}}" class="d-inline-block m-1">
          <div
            style="background-image: url({{this.image}});border-radius: 50%; background-repeat: no-repeat;background-position: center;background-size: cover; width:3em; height:3em"
            data-toggle="tooltip" data-placement="right" title="{{this.name}}">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
    <div class="card w-100 mt-3">
      <div class="card-header">
        {{followingCount}} 位追蹤對象
      </div>
      <div class="card-body">
        {{#each profile.Followings}}
        <a href="/users/{{this.id}}" class="d-inline-block m-1">
          <div
            style="background-image: url({{this.image}});border-radius: 50%; background-repeat: no-repeat;background-position: center;background-size: cover; width:3em; height:3em"
            data-toggle="tooltip" data-placement="right" title="{{this.name}}">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
